<form [formGroup]="artistForm" (ngSubmit)="ajouterArtiste()">
    <div>
        <label for="name">Nom</label>
        <input id="name" formControlName="name" type="text" />
        @if (artistForm.controls['name'].invalid && artistForm.controls['name'].touched) {
            <div style="color:red;">
                Le nom est requis.
            </div>
        }
    </div>

    <div>
        <label for="photo">Chemin de l'image</label>
        <input id="photo" formControlName="photo" type="text" />
        @if (artistForm.controls['photo'].invalid && artistForm.controls['photo'].touched) {
            <div style="color:red;">
                Le chemin de l'image est requis.
            </div>
        }
    </div>

  <button type="submit" [disabled]="artistForm.invalid">Ajouter</button>
</form>