<div>
    <app-artist-form (artisteAjoute)="ajouterArtiste($event)"></app-artist-form>
</div>

    @if (successMessage) {
        <div class="message-success" style="color: green">
            {{ successMessage }}
        </div>
    }

    @if (errorMessage) {
        <div class="message-error" style="color: rgb(121, 31, 31)">
            {{ errorMessage }}
        </div>
    }
    
    @if (artisteSelectionne) {
       <!-- <h1>L'artiste</h1>
            <p>{{ artisteSelectionne.name }}</p>
            <img [src]="artisteSelectionne.photo" [alt]="artisteSelectionne.name" width="200" /> -->
        <app-artist [artiste]="artisteSelectionne"></app-artist>
    } @else {
        <h1>Liste des artistes</h1>
        <ul>
            @for (artiste of artistes; track artiste.id; let i = $index) {
            <li>
                <p>{{ artiste.name }}</p>
                <img [src]="artiste.photo" [alt]="artiste.name" width="200" />
                <button (click)="afficherDetail(artiste)">Voir détails</button>
                <button style="background: red; color: white;" (click)="supprimerArtiste(i)">
                    Supprimer
                </button>
            </li>
            }
        </ul>

        @if (artistes.length === 0) {
        <p>Aucun artiste à afficher.</p>
    }
}
