
<app-artist-form (artisteAjoute)="ajouterArtiste($event)"></app-artist-form>
<h1>Liste des artistes</h1>
    <ul>
        @for (artiste of artistes; track artiste.id; let i = $index) {
        <li>
            <p>{{ artiste.name }}</p>
            <img [src]="artiste.photo" [alt]="artiste.name" width="100" />
            <button style="background: red; color: white;" (click)="supprimerArtiste(i)">
                Supprimer
            </button>
        </li>
        }
    </ul>

            <!-- Nessun artista -->
@if (artistes.length === 0) {
<p>Aucun artiste à afficher.</p>
}


